.card.experiment {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 100px;
  border-radius: 25px;

  @for $year from 1 through 3 {
      &[data-year="#{$year}"] .front {
        background-image: url('img/experiments-year#{$year}.png');
      }
  }

  .card-sides {
      .card-side {
        box-shadow: none;
          background-size: 1000% 100%;

          @for $number from 1 through 9 {
              &[data-number="#{$number}"] {
                  background-position-x: #{$number * 100% / 9};
              }
          }

          &>* {
              pointer-events: none;
              user-select: none;
          }
      }
  }    

  &.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
      &:not(.bga-cards_selected-card) {
        outline: 5px dashed red;
      }
  }    

  &.bga-cards_selected-card:not(.bga-cards_disabled-card) {
    outline: 5px solid red;
  }

  @for $type from 1 through 2 {
    &[data-type="#{$type}"] .card-side {
        background-position-x: #{($type - 1) * 100%};
    }
  }

    @for $number from 1 through 20 {
        &[data-type="1"] .front[data-number="#{$number}"] {
            background-position-y: #{$number * 100% / 20};
        }
    }
    @for $number from 21 through 35 {
        &[data-type="2"] .front[data-number="#{$number}"] {
            background-position-y: #{($number - 20) * 100% / 20};
        }
    }
}
