.bga-help_expandable-button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @each $playerColor in $playerColors {
        &.player-color-#{$playerColor} { 
            background-image: url('img/screens/screen-#{$playerColor}.png');
        }
    }

    &[data-folded="false"] {
        background-color: transparent;
        box-shadow: none;
    }
}

#popin_bgaHelpDialog {
    --background-color: #bae5f4;
}

#help-dialog-content {
    width: 675px;
    max-width: 45rem;
}

#help-popin {
    h1, h2 {
        text-align: center;
        font-weight: normal;
        font-family: 'conthrax-sb';
    }

    h1 {
        color: white;
        font-size: 18px;
        margin: 16px 0;
        background: #393b3d;
    }

    h2 {
        color: #ba3c1e;
        font-size: 15px;
        margin: 10px 0;
        background: white;
    }

    .help-section {  
        background: #FFFFFFBB;  
        padding: 5px;
        margin: 8px 0;

        .tiles {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 8px;
        }
    }

    .legend-tile-wrapper {
        margin: 16px;
    }

    span.legend-number {
        font-weight: bold;
        font-family: 'conthrax-sb';
        color: #ba3c1e;
    }

    .legend-tile-wrapper {
        position: relative;
    }

    div.legend-number {
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-family: 'conthrax-sb';
        background: #ba3c1e;
        color: white;
    }
}