.player-board {
  background-color: white;

  &.spectator-mode {
    color: black;
    * {
      background: white !important;
    }
  }

  .icon {
    margin-right: 5px;
  }

  .counters {
    display: flex;
    align-items: center;
    margin: 5px 0;

    >div {
      flex: 1;
    }

    &.with-tokens {
      font-size: 16pt;
      font-family: "conthrax-sb";
      
      >div {
        display: flex;
        align-items: center;
      }

      .science-counter {
        color: #653771;
      }
    }
  }

  .counter-warning {
    color: orange;
    font-size: 150%;

    &[data-warning="0"] {
      display: none;
    }
  }

}

#player_board_inner_research-positions {
  display: flex;
  justify-content: center;
}

#research-positions {
  display: grid;
  grid-template-columns: repeat(var(--column-number), 1fr);
  align-items: center;
  justify-items: center;
  font-size: 16pt;
  font-family: "conthrax-sb";
  color: #653771;

  .marker {
    background-color: var(--color);
    background-image: url('img/research.svg');
    width: 35px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 65%;
  }
}