.player-board {
  background-color: white;

  &.spectator-mode {
    color: black;
    * {
      background: white !important;
    }
  }

  .icon {
    margin-right: 5px;
  }

  .counters {
    display: flex;
    align-items: center;
    margin: 5px 0;

    >div {
      flex: 1;
    }

    &.with-tokens {
      font-size: 16pt;
      font-family: "conthrax-sb";
      
      >div {
        display: flex;
        align-items: center;
      }

      .science-counter {
        color: #653771;
      }
    }
  }

}
