#research-board {
  position: relative;
  width: 682px;
  height: 512px;
  margin-left: 170px;
  margin-right: 170px;
  background: url('img/research-board.png');

  .marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 28px;
    transition: transform 0.5s; 
    pointer-events: none;

    &.vp {
      width: 39px;
      height: 45px;
    }

    &.research {
      width: 35px;
      height: 28px;
    }

    .inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      
      background: var(--color);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 65%;

      &.vp {
        clip-path: polygon(0% 25%, 0% 75%, 50% 100%,100% 75% ,100% 25% ,50% 0% );
        background-image: url('img/score.svg');
      }
      &.research {
        background-image: url('img/research.svg');
      }
    }
      
    @each $playerColor in $playerColors {
      $i: index($playerColors, $playerColor) - 1;
      &[data-color="#{$playerColor}"] .inner { 
        background-position-x: #{$i * 100% / 3};
      }
    }
    
    &.color-blind {
      .inner::after {
        font-size: 120%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: -4px;
      }

      &[data-player-no="1"] .inner::after {
        content: '●'; // circle
      }

      &[data-player-no="2"] .inner::after {
        content: '▲'; // triangle
      }

      &[data-player-no="3"] .inner::after {
        content: '■'; // square
      }

      &[data-player-no="4"] .inner::after {
        content: '◆'; // diamond
      }
    }

    &.highlight {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: orange;
        border-radius: 50%;
        box-shadow: 0 0 5px 5px orange;
      }
    }
  }

  #missions {
    position: absolute;
    left: 645px;

    .slot {
      position: absolute;
      left: 0;

      &[data-slot-id="1"] {
        top: 64px;
      }
      &[data-slot-id="2"] {
        top: 200px;
      }
      &[data-slot-id="3"] {
        top: 336px;
      }
    }
  }

  .mission-science-token {
    position: absolute;
    left: 618px;
    width: 48px;
    height: 48px;

    &[data-slot-id="1"] {
      top: 164px;
    }
    &[data-slot-id="2"] {
      top: 299px;
    }
    &[data-slot-id="3"] {
      top: 433px;
    }
  }

  #module-decks {
    position: absolute;
    left: -170px;
    top: 0;
    width: 150px;
    height: 600px;

    .module-deck {
      position: absolute;
      left: 0;

      &[data-year="1"] {
        top: 0px;
      }
      &[data-year="2"] {
        top: 170px;
      }
      &[data-year="3"] {
        top: 340px;
      }

      &.card-stock.deck > .card:first-child {
        box-shadow: none;
      }
    }
  }
}