#score {
    display: none;
    justify-content: center;

    #table-wrapper {
        padding: 10px;

        .top-corner {
            border-top-width: 0;
            border-left-width: 0;
        }

        table {
            tr {
                height: 40px;

                th, td {
                    border: 4px inset #be3c1d;
                }

                th {
                    text-align: center;
                    color: black;
                    text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white;
                    padding: 8px;

                    &.player-name {
                        width: 181px;
                        font-weight: bold;
                        text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 3px black;
                        word-break: break-all;
                        font-size: 120%;
                    }
                }

                td {
                    width: 100px;
                    text-align: center;

                    &:not(:first-child) {
                        font-size: 150%;
                        color: black;
                        text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white;
                    }

                    &.total {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.score-year {
    font-size: 60%;
}