#table-center-wrapper {
  min-width: 1118px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.double-column {
    flex-direction: row;
  }
}

//#table-center {

  #board-1 {
    position: relative;
    width: 981px;
    height: 981px;
    margin: 100px;
    background: url('img/board-1.png');

    #board-2 {
      position: absolute;
      left: 200px;
      top: 200px;
      width: 581px;
      height: 738px;
      background: url('img/board-2.png');
      transform-origin: 290px 290px;
      transition: transform 0.5s;
      transform: rotate(calc(var(--r) * 45deg));

      #table-research {
        position: absolute;
        left: 221px;
        top: 235px;
        width: 150px;
        height: 100px;
  
        .slot {    
          position: absolute;  
          width: 150px;
          height: 100px;
  
          @for $r from 0 through 7 {
            &[data-slot-id="#{$r}"] {
              transform: rotate(#{$r * 45deg}) translateY(191px) rotate(-90deg);
            }
          }
        }
      }
    }

    #table-tiles {
      position: absolute;
      left: 415px;
      top: 415px;
      width: 150px;
      height: 150px;

      .slot {    
        position: absolute;  
        width: 150px;
        height: 150px;

        @for $r from 0 through 7 {
          &[data-slot-id="#{$r}"] {
            transform: rotate(#{$r * 45deg}) translateY(380px);
          }
        }
      }
    }

    #table-workers {
      position: absolute;
      left: 390px;
      top: 440px;
      width: 200px;
      height: 100px;

      .slot {    
        position: absolute;  
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;

        @for $r from 0 through 7 {
          &[data-slot-id="#{$r}"] {
            transform: rotate(#{$r * 45deg}) translateY(540px) rotate(180deg);
          }
        }
      }
    }
  }
//}